# Honeydrop Website Connected to n8n
Honeydrop_n8n/

# OS files
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*
yarn-debug.log*

# Environment variables
.env
.env.*

# Build folders (if added later)
dist/
build/

# Netlify
.netlify/

# Editor files
.vscode/
.idea/
